<!--The content below is only a placeholder and can be replaced.-->
<div class="header" style="text-align:center">
  <h2>
    Which episode? 🤔
  </h2>
</div>
<div class="container page-well">
  <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel title="🙈 {{show.name}}" *ngFor="let show of shows">
      <ng-template ngbPanelContent>
        <show-detail [show]="show"></show-detail>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>
<div class="body">
  <button class="btn btn-primary" type="button" name="button">
    <fa name="pencil-square-o"></fa>Add
  </button>
  <div *ngIf="newShow">
    <show-detail [show]="newShow"></show-detail>
  </div>
  <div class="row" *ngFor="let show of shows" >
    <div class="show">
      <div class="group-left" [class.selected]="show===selectedShow" (click)="onSelect(show)">
        <div class="emoji">
          <span *ngIf="show === selectedShow; else elseBlock">🙉</span>
          <ng-template #elseBlock>🙈</ng-template>
        </div>
        <div class="show-name">
          <span>{{show.name}}</span>
        </div>
        <div class="show-ep">
          <span>{{show.ep}}</span>
        </div>
      </div>
    </div>
    <div class="group-right">
        <div class="ep-btn" (click)="onChange(show, '+')"><span class="plus">+</span></div>
        <div class="ep-btn" (click)="onChange(show, '-')"><span class="minus">-</span></div>
    </div>
    <div *ngIf="show === selectedShow">
      <show-detail [show]="selectedShow"></show-detail>
    </div>

  </div>
</div>
