.row {
	padding-right: 150px;
	margin-bottom: 10px;
}

.show {
	border: grey solid 1px;
	border-radius: 2px;
	display: inline-block;
	font-size: 20px;
	/*padding: 0px 15px;*/
	width: 80%;
	height: 40px;
	position: relative;
	/*line-height: 40px;*/
}

.selected {
	background-color: #5bc0de !important;
}

.group-left {
	background-color: #428bca;
	/*width: 250px;*/
	padding: 0px 15px 0px 15px;
	color: white;
}

.emoji {
	font-size: 30px;
	text-align: center;
	display: inline-block;
	width: 20px;
	padding-right: 25px;
	/*line-height: 40px;*/
	vertical-align: middle;
	/*border-right-width: 1px;*/
	/*border-right: 1px solid white;*/
}

.group-left:hover,
.top-btn:hover {
	cursor: pointer;
}

.group-right {
	text-align: right;
	display: inline-block;
	padding-left: 50px;
}

.plus {
	color: green;
}

.minus {
	color: red;
}

.body {
	font-family: Helvetica;
}

.ep-btn {
	text-align: center;
	font-size:  20px;
	width: 30px;
	display: inline-block;
}

.toolbar {
	text-align: right;
	margin: 10px;
}

h2 {
	text-align: left;
	color: orange;
	font-family: Helvetica;
}

.show-ep {
	/*vertical-align: middle;*/
	/*text-align: center;*/
	/*display: inline;*/
	position: absolute;
	line-height: 40px;
	top: 0px;
	right: 10px;
}

.show-name {
	display: inline;
	line-height: 40px;
}